/* latin */
@font-face {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/assets/fonts/400.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/assets/fonts/700.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin */
@font-face {
    font-family: 'Cinzel Decorative';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/assets/fonts/900.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --red-color: #ff9898;
    --grey-900: #060D14;
    --red-100: #ffbaba; /*rgb(255 186 186)*/
    --red-200: #eb9e62; /*rgb(235, 158, 98)*/
    --red-300: #e60000; /*rgb(230, 0, 0)*/
    --red-400: #870000; /*rgb(135, 0, 0)*/
    /* https://brand.riotgames.com/en-us/league-of-legends/color/ */
    --blue-100: #CDFAFA; /*rgb(205, 250, 250)*/
    --blue-200: #0AC8B9; /*rgb(10, 200, 185)*/
    --blue-300: #0397AB; /*rgb(3, 151, 171)*/
    --blue-400: #005A82; /*rgb(0, 90, 130)*/
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #212121;
    overflow: hidden;
    font-family: 'Cinzel Decorative', cursive;
}

.screen {
    display: flex;
}

.right {
    flex: 1;
    height: 100vh;
    position: relative;
}

.notifier {
    padding-top: 20px;
}

.countdown {
    display: flex;
    align-items: center;
    justify-content: center;
}

.countdown .timer {
    font-size: 2.3rem;
    color: white;
    min-width: 45px;
    margin: 0 20px;
    text-align: center;
}

.progress-bar-container {
    width: 300px;
    background-color: #434343;
}

.countdown .progress-bar {
    border-radius: 1px;
    height: 10px;
    float: right;
}

.progress-bar.red {
    background: rgb(205, 250, 250);
    background: linear-gradient(
            90deg,
            var(--red-100) 0%,
            var(--red-200) 15%,
            var(--red-300) 35%,
            var(--red-400) 100%
    );
    /*box-shadow: 0 0 10px #005A82;*/
}

.progress-bar.blue {
    background: rgb(205, 250, 250);
    background: linear-gradient(
            90deg,
            var(--blue-100) 0%,
            var(--blue-200) 15%,
            var(--blue-300) 35%,
            var(--blue-400) 100%
    );
    /*box-shadow: 0 0 10px #005A82;*/
}

.flipY {
    transform: rotateY(180deg);
}

.notifier p {
    color: white;
    font-size: 2rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.user {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 20px 10px;
    border-bottom: 1px solid #a6a6a62b;
}

.image {
    position: relative;
    width: 50px;
    height: 50px;
}

.image-container {
    border: 3px solid #1e1e1e;
    border-top: 3px solid #ffff00;
    border-left: 3px solid #ffff00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    animation: ani1 3s linear infinite;
    top: -3px;
    left: -3px;
    z-index: 2;
}

.image-container .circle {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 2px;
    transform-origin: left;
    transform: rotate(-45deg);
}

.image-container .circle:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -4px;
    right: -6px;
    background: #ffff00;
    box-shadow: 0 0 20px #ff0, 0 0 40px #ff0, 0 0 60px #ff0, 0 0 80px #ff0,
    0 0 100px #ff0, 0 0 0 5px rgba(255, 255, 0, .1);
}

@keyframes ani1 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.user img {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.user .info {
    padding-left: 20px;
    flex: 1;
}

.user .info .username {
    color: white;
    font-size: 1.375rem;
    font-weight: bold;
}

.user .info .action {
    color: var(--red-color);
    font-size: 1rem;
    font-weight: 400;
}

.user .score {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 5px;
}


.bet {
    width: 120px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#users-container {
    width: 300px;
    height: 100vh;
    background-color: #1e1e1e;
    padding: 0 20px;
}

.card.disabled {
    cursor: not-allowed;
}

.bet {
    background-color: gray;
}

.bets-container {
    display: flex;
    gap: 12px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(-240px / 2);
    left: 0;
    width: 100%;
}

.card {
    width: 170px;
    height: 240px;
    background-color: #a9ff98;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: .2s;
}


.cards-container .card:hover {
    transform: translateY(calc((-240px / 2) - 10px));
}

/* TODO: Also without @- */
@-webkit-keyframes dealing {
    0% {
        -webkit-transform: translateY(-1200px) scale(0.7);
        transform: translateY(-1200px) scale(0.7);
    }
    20% {
        -webkit-transform: translateY(-400px) scale(0.7);
        transform: translateY(-400px) scale(0.7);
    }
    50% {
        -webkit-transform: translateY(-400px) scale(1.2) rotateY(180deg);
        transform: translateY(-400px) scale(1.2) rotateY(180deg);
    }
    80% {
        -webkit-transform: translateY(-400px) scale(1.2) rotateY(180deg);
        transform: translateY(-400px) scale(1.2) rotateY(180deg);
    }
    to {
        -webkit-transform: translateY(0) scale(1) rotateY(180deg);
        transform: translateY(0) scale(1) rotateY(180deg);
    }
}

/* TODO: Also without @- */
@-webkit-keyframes countdown {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

.countdown-card-animation {
    -webkit-animation-name: countdown;
    animation-name: countdown;
    animation-timing-function: linear;
}

.dealing-card-animation {
    -webkit-animation-name: dealing;
    animation-name: dealing;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}

.table {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
}

.table .card {
    margin: 0;
}

@keyframes picked {
    from,
    60%,
    75%,
    90%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }

    from {
        opacity: 0;
        -webkit-transform: translate3d(3000px, 0, 0);
        transform: translate3d(3000px, 0, 0);
    }

    60% {
        opacity: 1;
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }

    75% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }

    90% {
        -webkit-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
.picked-card-animation {
    -webkit-animation-name: picked;
    animation-name: picked;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

@keyframes pick {
    20% {
        -webkit-transform: translate3d(0, -10px, 0) scaleY(0.985);
        transform: translate3d(0, -10px, 0) scaleY(0.985);
    }

    40%,
    45% {
        opacity: 1;
        -webkit-transform: translate3d(0, 20px, 0) scaleY(0.9);
        transform: translate3d(0, 20px, 0) scaleY(0.9);
    }

    to {
        opacity: 0;
        -webkit-transform: translate3d(0, -2000px, 0) scaleY(3);
        transform: translate3d(0, -2000px, 0) scaleY(3);
    }
}
.pick-card-animation {
    -webkit-animation-name: pick;
    animation-name: pick;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}