* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}
.user {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 20px 10px;
    border-bottom: 1px solid #414141;
}
/*https://codepen.io/furkangulsen/pen/GYMWqO*/

.image {
    position: relative;
    width: 50px;
    height: 50px;
}

.image-container {
    border: 3px solid #1e1e1e;
    border-top: 3px solid #ffff00;
    border-left: 3px solid #ffff00;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: absolute;
    animation: ani1 3s linear infinite;
    top: -3px;
    left: -3px;
    z-index: 2;
}

.image-container .circle {
    position: absolute;
    top: calc(50% - 1px);
    left: 50%;
    width: 50%;
    height: 2px;
    transform-origin: left;
    transform: rotate(-45deg);
}

.image-container .circle:before{
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: -4px;
    right: -6px;
    background:#ffff00;
    box-shadow: 0 0 20px #ff0,0 0 40px #ff0,0 0 60px #ff0,0 0 80px #ff0,
    0 0 100px #ff0,0 0 0 5px rgba(255,255,0,.1);
}

@keyframes ani1{
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}

.user img {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.user .info {
    padding-left: 10px;
    flex: 1;
}

.user .info .username {
    font-size: 1.3rem;
    font-weight: bold;
}

.user .info .action {
    color: #414141;
}

.user .score {
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 20px;
}


.bet {
    width: 120px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#users-container {
    width: 300px;
    height: 100vh;
    background-color: #1e1e1e;
    padding: 0 20px;
}

.card.disabled {
    cursor: not-allowed;
}

.bet {
    background-color: gray;
}

.bets-container {
    display: flex;
    gap: 12px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(-240px / 2);
    left: 0;
    width: 100%;
}

.card {
    width: 170px;
    height: 240px;
    background-color: #a9ff98;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: .2s;
}


.card:hover {
    transform: translateY(calc((-240px / 2) - 10px));
}

/* TODO: Also without @- */
@-webkit-keyframes dealing {
    0% {
        -webkit-transform: translateY(-1200px) scale(0.7);
        transform: translateY(-1200px) scale(0.7);
    }
    20% {
        -webkit-transform: translateY(-400px)  scale(0.7);
        transform: translateY(-400px) scale(0.7);
    }
    50% {
        -webkit-transform: translateY(-400px) scale(1.2) rotateY(180deg);
        transform: translateY(-400px) scale(1.2) rotateY(180deg);
    }
    80% {
        -webkit-transform: translateY(-400px) scale(1.2) rotateY(180deg);
        transform: translateY(-400px) scale(1.2) rotateY(180deg);
    }
    to {
        -webkit-transform: translateY(0) scale(1) rotateY(180deg);
        transform: translateY(0) scale(1) rotateY(180deg);
    }
}

.dealing-card-animation{
    -webkit-animation-name: dealing;
    animation-name: dealing;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}