* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}
.user {
    display: flex;
    align-items: center;
    height: fit-content;
    padding: 20px 10px;
    border-bottom: 1px solid #414141;
}
.user img {
    max-width: 100%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.user .info {
    padding-left: 10px;
    flex: 1;
}

.user .info .username {
    font-size: 1.3rem;
    font-weight: bold;
}

.user .info .action {
    color: #414141;
}

.user .score {
    font-weight: bold;
    font-size: 1.5rem;
    padding-right: 20px;
}


.bet {
    width: 120px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#users-container {
    width: 300px;
    height: 100vh;
    background-color: #ddd;
    padding: 0 20px;
}

.card.disabled {
    cursor: not-allowed;
}

.bet {
    background-color: gray;
}

.bets-container {
    display: flex;
    gap: 12px;
}

.cards-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: calc(-240px / 2);
    left: 0;
    width: 100%;
}

.card {
    width: 170px;
    height: 240px;
    background-color: #a9ff98;
    border-radius: 20px;
    margin: 0 10px;
    cursor: pointer;
    transition: .2s;
}


.card:hover {
    transform: translateY(calc((-240px / 2) - 10px));
}

/* TODO: Also without @- */
@-webkit-keyframes dealing {
    0% {
        -webkit-transform: translateY(-1200px) scale(0.7);
        transform: translateY(-1200px) scale(0.7);
    }
    20% {
        -webkit-transform: translateY(-400px)  scale(0.7);
        transform: translateY(-400px) scale(0.7);
    }
    50% {
        -webkit-transform: translateY(-400px) scale(1.2) rotateY(180deg);
        transform: translateY(-400px) scale(1.2) rotateY(180deg);
    }
    80% {
        -webkit-transform: translateY(-400px) scale(1.2) rotateY(180deg);
        transform: translateY(-400px) scale(1.2) rotateY(180deg);
    }
    to {
        -webkit-transform: translateY(0) scale(1) rotateY(180deg);
        transform: translateY(0) scale(1) rotateY(180deg);
    }
}

.dealing-card-animation{
    -webkit-animation-name: dealing;
    animation-name: dealing;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
}