.card,
.bet {
    width: 120px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bet {
    background-color: gray;
}

.cards-container,
.bets-container {
    display: flex;
    gap: 12px;
}