<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Verification</title>
    <style>
        a {
            background-color: rgb(37, 99, 235);
            border-radius: 0.75rem;
            color: white;
            display: inline-block;
            margin-top: .5rem;
            padding: 0.75rem 1.25rem;
            text-decoration: none;
        }
    </style>
</head>
<body>
<p>You are receiving this email because we received a password reset request for your account.</p>
<p>This password reset link will expire in {{.Lifetime}} minutes.</p>
<p>If you did not request a password reset, no further action is required.</p>
<a href="{{.Link}}">Reset Password</a>
</body>
</html>