@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --lime-primary: #6dfa84;
    --lime-secondary: #3dff7e;
}

body {
    font-family: "Barlow", sans-serif;
    // Icon credit: https://www.flaticon.com/authors/pongsakornred
    cursor: url("/images/sword.png"), auto;
}

form {
    label {
        @apply block mb-2 text-sm font-medium text-gray-300;
    }

    input {
        @apply bg-transparent
            text-gray-300 text-sm
            border-2 border-violet-900 hover:border-fuchsia-500 focus:border-fuchsia-500
            rounded-lg
            block
            w-full
            p-2.5
            focus:outline-none
            transition-all;
    }
}

.btn {
    @apply text-gray-900
    font-medium
    hover:bg-lime-secondary
    bg-lime-primary
    outline-none
    rounded-lg
    w-full
    px-5
    py-2.5
    text-center
    transition-all
    select-none;

    appearance: button;
    backface-visibility: hidden;
    box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0,
        rgba(0, 0, 0, 0.07) 0 1px 1px 0;
    box-sizing: border-box;
    touch-action: manipulation;
}

.card {
    @apply p-6 rounded-xl bg-slate-800 flex flex-col bg-clip-border;
}

.circle-loader {
    @apply border-2 border-gray-500 w-40 h-40 rounded-full border-l-yellow-500 relative;
    animation: loader 1.2s infinite linear;
    .checkmark {
        @apply hidden;
        &:after {
            @apply h-20 w-10 border-r-lime-primary border-t-lime-primary absolute border-r border-t left-10 top-20;
            content: "";
            transform-origin: left top;
            animation-duration: 800ms;
            animation-timing-function: ease;
            animation-name: checkmark;
            transform: scaleX(-1) rotate(135deg);
        }
    }

    .cross {
        @apply hidden scale-75 w-full h-full relative;

        &:after {
            --cross-rotation: -45deg;
        }

        &:before {
            --cross-rotation: 45deg;
        }

        &:before,
        &:after {
            @apply absolute bg-red-500 rounded-sm w-full h-1 top-1/2 left-1/2 ease-linear;
            content: "";
            transform: translate(-50%, -50%) rotate(var(--cross-rotation)) scale(var(--cross-scale, 1));
            animation-duration: 300ms;
            animation-name: crossmark;
        }
    }

    &.succeeded,
    &.failed {
        @apply animate-none;
        transition: border 500ms ease-out;
    }

    &.succeeded {
        .checkmark {
            @apply block;
        }
        @apply border-lime-primary;
    }

    &.failed {
        .cross {
            @apply block;
        }
        @apply border-red-500;
    }
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes checkmark {
    0% {
        height: 0;
        width: 0;
        opacity: 1;
    }
    20% {
        height: 0;
        width: 2.5rem;
        opacity: 1;
    }
    40% {
        height: 5rem;
        width: 2.5rem;
        opacity: 1;
    }
    100% {
        height: 5rem;
        width: 2.5rem;
        opacity: 1;
    }
}

@keyframes crossmark {
    0% {
        transform: translate(-50%, -50%) rotate(var(--cross-rotation)) scale(0);
    }
    100% {
        transform: translate(-50%, -50%) rotate(var(--cross-rotation)) scale(1);
    }
}

.background {
    @apply w-screen h-screen bg-slate-900 bg-center bg-cover bg-no-repeat;
    background-image: url("/images/bg1.jpg");
    .inner {
        @apply w-full text-center lg:text-left lg:w-2/3 h-full flex justify-center items-center;
        background: rgba(0, 0, 0, 0.5);
        @screen lg {
            background: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }
}

.btn-secondary {
    @apply text-white font-bold text-xl text-center uppercase py-4 px-12 tracking-widest border-4 border-white rounded-3xl transition-all duration-300;
    background: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
}

.title-primary {
    @apply text-white text-9xl font-bold;

    text-shadow: -1px 5px 0px var(--lime-secondary);
}
