<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Email Verification</title>
    <style>
        a {
            background-color: rgb(37, 99, 235);
            border-radius: 0.75rem;
            color: white !important;
            display: inline-block;
            margin-top: .5rem;
            padding: 0.75rem 1.25rem;
            text-decoration: none;
        }
    </style>
</head>
<body>
<p>We're happy you signed up for {{.AppName}}. To start exploring the sea please confirm your email address.</p>
<p>If you didn't create an account no further action is required.</p>
<a href="{{.Link}}">Verify Now</a>
</body>
</html>